.footer {
  padding: $padding;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  @include respond(tablet) {
    padding: 1rem 10rem 5rem;
  }
  @include respond(phone) {
    padding: 2.5rem;
  }
  .footer__menu {
    display: flex;
    justify-content: space-between;
    @include respond(tablet) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3rem;
      text-align: center;
    }
    .menu__logo {
      .logo {
        margin-bottom: 1rem;
      }
      .logo__paragraph {
        color: $color-grey-text;
      }
    }
    .menu__list {
      display: flex;
      gap: 5rem;
      .list__box {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      .title {
        margin-bottom: 1rem;
        color: $color-grey-text;
      }
    }
  }

  .footer__input {
    padding: 3.6rem 0;
    border-top: 1px solid $color-white;
    border-bottom: 1px solid $color-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include respond(tablet) {
      flex-direction: column;
      gap: 3rem;
      text-align: center;
    }
    .input__info {
      .title {
        margin-bottom: 1.2rem;
        @include respond(phone) {
          font-size: 1.8rem;
        }
      }
      .paragraph {
        @include respond(phone) {
          font-size: 1.5rem;
        }
      }
    }

    .input__input {
      min-width: 50rem;
      padding: 1.2rem;
      border-radius: $border-radius-btn;
      background-color: $color-white;
      display: flex;
      @include respond(phone) {
        min-width: 35rem;
      }
      #email {
        width: 100%;
        border: none;
        background-color: transparent;
        outline: none;
        font-size: 1.5rem;
      }
      button {
        padding: 1rem;
        border: none;
        border-radius: $border-radius-btn;
        background-color: $color-black;
        color: $color-black;
      }
    }
  }

  .footer__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    .social__media {
      display: flex;
      gap: 2rem;
      img {
        cursor: pointer;
      }
    }
  }
}
