.header {
  position: relative;

  .header__info {
    text-align: center;
    position: absolute;
    bottom: 10%;
    .info__title {
      color: $color-grey-text;
    }

    .info__subtitle {
      font-size: 5.4rem;
    }

    .info__paragraph {
      padding: 0 30%;
      color: $color-grey-text;
    }
  }
}
