.clients {
  padding: $padding;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  @include respond(phone) {
    padding: 4rem;
  }
  .clients__text {
    text-align: center;
  }

  .clients__company {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8rem;
    @include respond(phone) {
      gap: 4rem;
    }
  }
}
