.what {
  @include padding;
  background-color: $color-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .what__info {
    text-align: center;
    margin-bottom: 4rem;
  }
  .what__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(41rem, 1fr));
    gap: 1.6rem;
    @include respond(phone) {
      grid-template-columns: 1fr;
    }
    .items__card {
      position: relative;

      .card__text {
        padding: 3.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        position: absolute;
        bottom: 2rem;
        left: 0;
        @include respond(phone) {
          padding: 1rem;
        }
        p {
          max-width: 80%;
        }
      }
    }
  }
}
