body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    color: $color-white-text;
} 

.title {
    text-transform: uppercase;
    font-size: 1.6rem;
}

.paragraph {
    font-size: 1.4rem;
    color: $color-grey-text;
}